<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="windowsApp1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="windowsApp1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <windowsApp1.My.MySettings>
            <setting name="CAhost" serializeAs="String">
                <value />
            </setting>
            <setting name="CAdomain" serializeAs="String">
                <value />
            </setting>
            <setting name="CAuser" serializeAs="String">
                <value />
            </setting>
            <setting name="CApassword" serializeAs="String">
                <value />
            </setting>
            <setting name="UseLocal" serializeAs="String">
                <value />
            </setting>
        </windowsApp1.My.MySettings>
    </userSettings>
    <applicationSettings>
        <windowsApp1.My.MySettings>
            <setting name="WindowsApp1_clientauto_DSMWebServiceAPIService"
                serializeAs="String">
                <value>C:\Program Files (x86)\CA\DSM\CA_FDU\PackageUpDater\mod_gsoap_utf8.dll</value>
            </setting>
            <setting name="WindowsApp1_clientauto_DSMWebServiceAPIService1"
                serializeAs="String">
                <value>Http://lecri01-141em/DSM_WEBService/mod_gsoap_utf8.dll</value>
            </setting>
        </windowsApp1.My.MySettings>
    </applicationSettings>
</configuration>